html {
  min-height: 100%;
}

body {
  margin: 0;
  background: url('/img/mario-bg.png') no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
}

form {
  padding: 20px;
  margin-top: 60px;
}

.card {
  border-radius: 6px;
}

.brand {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}

.project-list {
  height: calc(100vh - 9rem);
  overflow: auto;
  padding: 0 1rem;
  margin-top: 1rem;
}

.notifications {
  height: calc(50vh - 9rem);
  overflow: auto;
}

.note-card {
  background: #0000003b;
  color: white;
}

.note-author {
  color: #cfff4d !important;
}

.note-date {
  color: #e4f7c8a6 !important;
}

form button, form h5 {
  margin: 20px 0;
}

nav ul button {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    padding: 0 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    height: stretch;
    /* height: -webkit-fill-available;
    height: -moz-fill-available; */
}

nav ul button:hover,
nav ul button:focus {
  background-color: rgba(0,0,0,0.1);
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: #ffffff00;
    border-radius: 10px;
    height: 90%;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffffc7;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff63;
    border-radius: 10px;
    height: 90%;
}